body {
    font-family: Georgia, serif;
    background: #e1eafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 { color: #182741; }
  
  textarea {
    width: 300px;
    height: 100px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #667992;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2a3f58;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  button:hover { background-color: #1b263b; }
  
  #result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
  }
  